{
  "printWidth": 120,
  "tabWidth": 2,
  "tabs": false,

  "arrowParens": "always",

  "bracketSpacing": true,

  "endOfLine": "auto",

  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,

  "semi": true,
  "singleQuote": true,

  "quoteProps": "as-needed",

  "trailingComma": "all"
}
